body {
  text-align: center; }

svg {
  font: 10px sans-serif; }

text, tspan, textPath {
  white-space: nowrap; }

user agent stylesheettext, foreignObject {
  display: block; }

.join, .link, .node rect {
  fill: none;
  stroke: #636363;
  stroke-width: 1.5px; }

.node .element rect {
  fill: #bdbdbd;
  stroke: none; }

.link path, .node rect, .node text, .join {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear; }

.node .selection rect {
  stroke: #e6550d; }
